<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Группы</title>
</head>
<body>
<h2>Список групп</h2>
<div th:if="${error}" th:text="${error}" style="color: red"></div>
<div th:if="${success}" th:text="${success}" style="color: green"></div>
<main>
    <table>
        <form th:action="@{/groups}" th:method="post" th:object="${groupDto}">
            <!--Номер аудитории-->
            <tr>
                <td><label for="title">Название группы</label></td>
                <td><input type="text" id="title" name="title" placeholder="Введите название группы" required></td>
            </tr>
            <!--Создать-->
            <tr>
                <td><input type="submit" value="Создать"></td>
            </tr>
        </form>
    </table>
    <br>

    <div th:if="${#lists.isEmpty(groups)}">
        <span style="color: darkorange">Список групп пуст!</span>
    </div>

    <div th:unless="${#lists.isEmpty(groups)}">
        <table border="1">
            <thead>
            <th>Группа</th>
            <th>Действие</th>
            </thead>
            <tbody th:each="group : ${groups}" th:object="${group}">
            <tr>
                 <td><a th:href="@{/groups/{id}(id=*{id})}" th:text="*{title}"></a></td>
                <td>
                    <form th:action="@{/groups/{id}(id=${group.getId()})}" th:method="delete">
                        <input type="submit" value="Удалить">
                    </form>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <br>
    <button onclick="history.back()">Назад</button>
</main>
</body>
</html>