<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Смена пароля</title>
</head>
<body>
<h2>Смена пароля</h2>
<main>
    <div th:if="${error}" th:text="${error}" style="color: red"></div>
    <div th:if="${success}" th:text="${success}" style="color: green"></div>
    <table>
        <form th:action="@{/change-password}" method="post" th:object="${changePasswordDto}">
            <!--Электронная почта-->
            <tr>
                <td><label for="email">Электронная почта</label></td>
                <td><input type="email" id="email" name="email"></td>
            </tr>

            <!--Имя пользователя-->
            <tr>
                <td><label for="username">Имя пользователя</label></td>
                <td><input type="text" id="username" name="username"></td>
            </tr>

            <!--Старый пароль-->
            <tr>
                <td><label for="passwordOld">Старый пароль</label></td>
                <td><input type="password" id="passwordOld" name="passwordOld"></td>
            </tr>

            <!--Новый пароль-->
            <tr>
                <td><label for="passwordNew">Новый пароль</label></td>
                <td><input type="password" id="passwordNew" name="passwordNew"></td>
            </tr>

            <!--Подтвердите пароль-->
            <tr>
                <td><label for="passwordConfirm">Подтвердите пароль</label></td>
                <td><input type="password" id="passwordConfirm" name="passwordConfirm"></td>
            </tr>

            <!--Отправить-->
            <tr>
                <td>
                    <button onclick="history.back()">Назад</button>
                    <input type="submit" value="Сменить пароль">
                </td>
            </tr>

        </form>


    </table>
</main>
</body>
</html>