<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Заблокированные</title>
</head>
<body>
<main>
    <h2>Заблокированные пользователя</h2>
    <div th:if="${error}" th:text="${error}" style="color: red"></div>
    <div th:if="${success}" th:text="${success}" style="color: green"></div>
    <table border="1">
        <thead>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Статус блокировки</th>
        <th>Действие</th>
        </thead>
        <tbody th:each="user : ${users}" th:object="${user}">
        <tr>
            <!--ID-->
            <td th:text="*{id}"></td>

            <!--Имя пользователя-->
            <td th:text="*{username}"></td>

            <!--Статус блокировки-->
            <td th:if="*{accountNonLocked}" th:text="'Разблокирован'"></td>
            <td th:unless="*{accountNonLocked}" th:text="'Заблокирован'"></td>

            <td>
                <form th:action="@{/{id}(id=*{id})}" th:method="patch">

                    <div th:if="*{accountNonLocked}">
                        <input type="hidden" name="status" value="false">
                        <input type="submit" value="Заблокировать">
                    </div>

                    <div th:unless="*{accountNonLocked}">
                        <input type="hidden" name="status" value="true">
                        <input type="submit" value="Разблокировать">
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <button onclick="history.back()">Назад</button>
</main>
</body>
</html>