<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Деканат: Регистрация</title>
</head>
<body>
    <h2>Регистрация</h2>
    <div th:if="${error}" th:text="${error}" style="color: red"></div>
    <!--Форма логина-->
    <form th:action="@{/sign-up}" method="post">
        <table>
            <!--Электронная почта-->
            <tr>
                <td><label for="email">Электронная почта</label></td>
                <td><input type="email" id="email" name="email" placeholder="Введите электронную почту"></td>
            </tr>

            <!--Имя пользователя-->
            <tr>
                <td><label for="username">Имя пользователя</label></td>
                <td><input type="text" id="username" name="username" placeholder="Введите имя пользователя"></td>
            </tr>

            <!--Пароль-->
            <tr>
                <td><label for="password">Пароль</label></td>
                <td><input type="password" id="password" name="password" placeholder="Введите пароль"></td>
            </tr>

            <!--Подтвердите пароль-->
            <tr>
                <td><label for="password">Подтвердите пароль</label></td>
                <td><input type="password" id="password-confirm" name="passwordConfirm" placeholder="Подтвердите пароль"></td>
            </tr>

            <!--Кнопка "Войти"-->
            <tr>
                <td><input type="submit" value="Войти"></td>
            </tr>
        </table>
    </form>

    <a th:href="@{/}">На главную</a>
    <a th:href="@{/sign-in}">Войти</a>
</body>
</html>