<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: предметы</title>
</head>
<body>
<h2>Список преподавателей</h2>
<div th:if="${error}" th:text="${error}" style="color: red"></div>
<div th:if="${success}" th:text="${success}" style="color: green"></div>
<main>
    <!--Предметы-->
    <tr>
        <td><label for="subject-select">Предмет</label></td>
        <td>
            <select th:each="subject : ${subjects}" th:object="${subject}" id="subject-select">
                <option th:value="${subject.title}" th:text="${subject.title}"></option>
            </select>
        </td>
    </tr>
    <a href="/">На главную</a>
</main>
</body>
</html>