<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Деканат: Расписание</title>
</head>
<body>
<h2>Расписание</h2>
<main>
    <table>
        <form th:action="@{/timetables}" th:method="post">
            <!--Группа-->
            <tr>
                <td><label for="group-id">Группа</label></td>
                <td>
                    <select name="group-id" id="group-id">
                        <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.title}"></option>
                    </select>
                </td>
            </tr>

            <!--Предмет-->
            <tr>
                <td><label for="subject-id">Предмет</label></td>
                <td>
                    <select name="subject-id" id="subject-id">
                        <option th:each="subject : ${subjects}" th:value="${subject.id}"
                                th:text="${subject.title}"></option>
                    </select>
                </td>
            </tr>

            <!--Преподаватель-->
            <tr>
                <td><label for="teacher-id">Преподаватель</label></td>
                <td>
                    <select name="teacher-id" id="teacher-id">
                        <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                                th:text="|${teacher.lastName} ${teacher.firstName} ${teacher.patronymicName}|"></option>
                    </select>
                </td>
            </tr>
            <!--Аудитория-->
            <tr>
                <td><label for="classroom-id">Аудитория</label></td>
                <td>
                    <select name="classroom-id" id="classroom-id">
                        <option th:each="classroom : ${classrooms}" th:value="${classroom.id}"
                                th:text="${classroom.classroomNo}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Добавить расписание"></td>
            </tr>
        </form>
    </table>
    <br>
    <button onclick="history.back()">Назад</button>
</main>

</body>
</html>